{% extends 'base.html' %}

{% block content %}
    <table class="table table-sm table-responsive table-bordered">
        <tr>
            <td>ID</td>
            <td>{{item.id|safe}}</td>
        </tr>
        <tr>
            <td>Field1</td>
            <td>{{item.field1}}</td>
        </tr>
        <tr>
            <td>Field1</td>
            <td>{{item.field2|safe}}</td>
        </tr>
        <tr>
            <td>Field1</td>
            <td>{{item.field3}}</td>
        </tr>
    </table>
{% endblock content %}
    