{% extends 'base.html' %}

{% block content %}
<div class="text-right">
<a href="{% url 'model_name_create' %}" class="btn btn-primary mb-3">Tambah Data</a>
</div>
<div>
    Jumlah item: {{ items|length }}
</div>
<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr class="text-center">
            <th>No</th>
            <th>Field 1</th>
            <th>Field 2</th>
            <th>Field 3</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Opsi</th>
        </tr>
    </thead>
{% for item in items %}
<tr>
    <td scope="row">{{ forloop.counter }}</td>
    <td>{{item.field1}}</td>
    <td>{{item.field2|safe}}</td>
    <td>{{item.field3}}</td>
    <td>{{item.created_at}}</td>
    <td>{{item.updated_at}}</td>
    <td class="text-center">
        <a href="{% url 'model_name_detail' item.id %}" class="btn btn-link text-primary">Detail</a>
        <a href="{% url 'model_name_update' item.id %}" class="btn btn-link text-success">Edit</a>
        <a href="{% url 'model_name_delete' item.id %}" class="btn btn-link text-danger">Delete</a>
    </td>
{% endfor %}
</table>
{% if is_paginated %}
    <div class="mb-2">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
{% endblock content %}
    